<?xml version="1.0" encoding="UTF-8"?>
<settings>
	<mailTo>pxflow@gmail.com</mailTo>
	<subject>Mail sent from CV Template</subject>
	<template>
		Message sent from: [Name] &lt; [Sender] &gt;&#13;
		---------------------------------&#13;
		Company name: [Company]&#13;
		[Message]
	</template>
</settings>
